.content {
    font-size 20px
}

blockquote {
    font-size 1.4rem !important
    color #34495e !important
    font-weight 400
}

.content:not(.custom) img,
.content:not(.custom) iframe {
    display block
    margin auto
    border-radius 16px
}
